
.select-input {
  color: aqua;
  .txo-input-container {
    select {
      -webkit-appearance: none;
      -moz-appearance: none;
      text-indent: 1px;
      text-overflow: '';
    }
  }
  .txo-input-container:after {
    content: '';
    position: absolute;
    right: 0;
    border: 5px solid transparent;
    border-top: 6px solid #b9b9b9;
    top: 1.4rem;
    right: .5rem;
  }
}