@import-normalize;
@import './reset.scss';
@import './Global.scss';

.App {
  margin: 200px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.App form {
  width: 300px;
}

.App .button {
  width: 100%;
}
