@use "sass:math";

$designers-mobile-width: 640;
$real-mobile-width: 375;
$em-base: 16;

@function scalePixelsDownToMobile($pixels, $width: $real-mobile-width) {
  @return #{math.div($pixels, $designers-mobile-width) * $width}px;
}


@function scalePixelsDownToMobileInEm($pixels, $width: $real-mobile-width, $base: $em-base) {
  @return #{math.div(math.div($pixels, $designers-mobile-width) * $width, $base)}em;
}
@function scaleToMobE($pixels, $width: $real-mobile-width, $base: $em-base) {
  @return scalePixelsDownToMobileInEm($pixels, $width, $base);
}


@function scalePixelsDownToMobileInVW($pixels) {
  @return #{math.div($pixels, $designers-mobile-width) * 100}vw;
}
@function scaleToMobVW($pixels) {
  @return scalePixelsDownToMobileInVW($pixels);
}

